* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --purple: rgb(64, 25, 109);
    font-family: "Mulish", sans-serif;
}

/* NAVBAR STYLING */
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 12px 10px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    background: white;
    font-size: 14px;
    font-weight: 700;
    z-index: 20;
}

.logoandlinksDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: center;
    color: black;
}

.navlinks {
    display: flex;
    gap: 3rem;
    color: var(--purple);
    /* display: none; */
}

.fa-caret-down {
    margin-left: 7px;
}

.help,
.company {
    position: relative;
}

.dropdownlist {
    display: none;
}

.help:hover .dropdownlist,
.company:hover .dropdownlist {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8px;
}

.signInDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    color: rgb(85, 31, 146);
}

.signInDiv p {
    font-size: 14px;
}

.signInDiv button {
    background: rgb(64, 25, 109);
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 36px;
    border: none;
    border-radius: 10px;
}

.flagandbars {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flagandbars .fa-bars,
.fa-xmark-large {
    display: none;
}

/* Uniform styling (padding) for eight sections  */
.parentDiv {
    padding: 60px 100px;
}

/* Intro/firstsection Styling */
.childDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.childDiv h1,
.childDiv h2 {
    font-weight: 900;
    color: var(--purple);
}

.childDiv h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.childDiv p {
    font-size: 15px;
    font-weight: 600;
    color: rgb(80, 79, 79);
    /* margin-bottom: 30px; */
}


/* FIRST DIV STYLING */
.childDiv1 {
    justify-content: space-around;
}

.leftDiv1 {
    width: 38%;
    margin-top: 120px;
}

.leftDiv h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.leftDiv1 p {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
}

.leftDiv1 .imageDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
}

.ndicandcbn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.cbn,
.ndic {
    display: flex;
}

.cbn p,
.ndic p {
    font-size: 12px !important;
    color: #a8a7a7;
    margin-right: 6px;
}

.cbn img {
    width: 17px;
    height: 19px;
}

.ndic img {
    margin-top: 5px;
    width: 38px;
    height: 16px;
}

.cbn,
.ndic {
    display: flex;
}


/* SECOND DIV STYLING */
.childDiv2 {
    margin-top: 50px;
    margin-bottom: 10rem;
}

.topcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    color: var(--purple);
    margin-bottom: 30px;
}

.topcards .card {
    display: flex;
    flex-direction: column;
    width: 28%;
    padding: 20px;
    box-shadow: 3px 3px 10px rgb(213, 218, 224);
    border-radius: 5px;
}

.cardicon {
    width: fit-content;
    height: fit-content;
    background: rgb(223, 227, 255);
    border-radius: 50%;
    padding: 10px;
}

.bottomcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    color: var(--purple);
}

.bottomcards .card {
    width: 40%;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgb(213, 218, 224);
    border-radius: 5px;
}

.topcards .card p,
.bottomcards .card p {
    font-weight: 800;
    color: var(--purple);
}


/* THIRD DIV STYLING */
.childDiv3 {
    flex-wrap: wrap;
    gap: 10rem;
    margin-bottom: 17rem;
}

.leftDiv3 {
    width: 33%;
}

.leftDiv3 h2 {
    font-size: 30px;
    line-height: 44px;
}

.leftDiv3 p {
    width: 100%;
    line-height: 20px;
    margin: 20px 0;
}

.leftDiv3 a {
    text-decoration: underline;
    color: rgb(122, 15, 122);
    font-weight: 700;
}

.fa-angle-right {
    margin-left: 3px;
}


/* FOURTH DIV STYLING */
.childDiv4 {
    gap: 13rem;
}

.leftDiv4 {
    /* display: flex; */
    height: 360px;
    width: 370px;
    border-radius: 50%;
    background: rgb(215, 242, 250);
    gap: 1rem;
    position: relative;
}

.slipchild {
    width: 120rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 2px 3px 4px rgb(236, 235, 235);
    border-radius: 2px;
    padding: 8px;
    margin: 10px 0;
    background: white;
    width: 100%;
}

.slipdiv1,
.slipdiv2 {
    position: absolute;
    width: 65%;
}

.slipdiv1 {
    margin-top: 20px;
    left: -17%;
}

.slipdiv2 {
    margin-top: 50px;
    right: -17%;
}

.slipchild p {
    font-size: 10px;
    font-weight: 900;
    color: var(--purple);
    line-height: 20px;
    border-bottom: 4px solid rgb(236, 235, 235);
    width: 100%;
}

.slipdiv1 .slipchild .icon1 {
    font-size: 12px;
}

.slipdiv2 .slipchild {
    height: 50px;
}

.rightDiv4 {
    width: 400px;
}

.rightDiv4 p {
    line-height: 20px;
    width: 97%;
}


/* FIFTH DIV STYLING */
.childDiv5 {
    gap: 10rem;
    margin-top: 220px;
}

.leftDiv5 {
    width: 420px;
}

.leftDiv5 p {
    line-height: 30px;
    width: 92%;
    margin-bottom: 30px;
}

.leftDiv5 a {
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
    color: rgb(85, 8, 85);
}

.rightDiv5 {
    height: 29rem;
    width: 30rem;
    /* box-shadow: ; */

    img {
        width: 100%;
        height: 100%;
    }
}


/*  SIXTH DIV STYLING */
.childDiv6 {
    margin-top: 180px;
    gap: 7rem;
}

.rightDiv6 {
    width: 382px;
}

.rightDiv6 p {
    margin-bottom: 30px !important;
}

.rightDiv6 a {
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
    color: rgb(85, 8, 85);
}


/* SEVENTH DIV STYLING */
.childDiv7 {
    margin-top: 100px;
    gap: 10rem;
}

.rightDiv7 {
    width: 380px;
}

.rightDiv7 p {
    margin-bottom: 30px !important;
}

.rightDiv7 a {
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
    color: rgb(85, 8, 85);
}


/* EIGHTH DIV STYLING */
.childDiv8 {
    gap: 12rem;
    margin-top: 120px;
}

.rightDiv8 {
    width: 500px;
    height: 490px;
}

.rightDiv8 img {
    width: 100%;
    height: 100%;
}

.leftDiv8 {
    width: 370px;
}

.leftDiv8 p {
    margin-bottom: 30px;
}

.leftDiv8 a {
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
    color: rgb(85, 8, 85);
}


/* TESTIMONY DIV STYLING */
.testimoniesDiv {
    /* padding: 50px; */
    margin-top: 150px;
    width: 100%;
    overflow: hidden;
}

.testimoniesContainer {
    display: flex;
    width: max-content;

}

.testimoniesDiv h2 {
    font-size: 32px;
    font-weight: 900;
    color: var(--purple);
    text-align: center;
    margin-bottom: 40px;
}

.testimony {
    width: 386px;
    margin: 20px;
    /* font-size: 14px; */
    padding: 18px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgb(180, 178, 178);
    /* border: 1px solid; */
    overflow-y: auto;
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    100% {
        transform: translateX(100%);
    }

    0% {
        transform: translateX(-100%);
    }
}

.testimony p {
    padding-bottom: 40px;
}

.imageDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.profileimageDiv img {
    border-radius: 50%;
}

.imageDiv label {
    font-size: 12px;
    font-weight: 900;
}


/* LOGOS SECTION  */
.logosDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}


/* PARTNERS DIV STYLING */
.partnersDiv {
    height: 300px;
    /* background: rgb(250, 249, 249); */
    background: #FBFBFB;
    padding: 50px;
}

.partnersDiv h2 {
    font-size: 32px;
    font-weight: 900;
    color: var(--purple);
    text-align: center;
    margin-bottom: 80px;
}

.partnerslogoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* CHOOSE TABLE DIV */
.chooseDiv h2 {
    font-size: 32px;
    font-weight: 900;
    color: var(--purple);
    text-align: center;
    margin-bottom: 50px;
}

.chooseDiv table {
    width: 75%;
    margin: auto;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 3px 3px 10px rgb(226, 226, 226);
}

thead th {
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 2.5rem 0rem 1rem 2rem;
    text-align: left;
}

tbody td {
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 1rem 0rem 1rem 2rem;
}

tbody .data1 {
    font-weight: 700;
}

.lastrow {
    padding: 10rem 0rem 30rem 2rem;
}


/* MORE OF YOU DIV */
.moreofyou {
    margin-top: 100px;
}

.boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    width: 25%;
    padding: 20px;
    box-shadow: 3px 3px 10px rgb(226, 226, 226);
}

.box .icon {
    width: fit-content;
    height: fit-content;
    background: #DFE3FF;
    border-radius: 50%;
}

.box .icon i {
    padding: 12px;
}

.box h3 {
    font-size: 28px;
    font-weight: 900;
    color: var(--purple);
}

.box a {
    color: purple;
    text-decoration: underline;
}


/* THE MONEY APP FOR AFRICANS DIV (BOTTOM) */
.moneyappDiv {
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    border-radius: 5px;
    background: #eaecfc;
    box-shadow: 8px 8px 20px rgb(187, 182, 182);
    margin-top: 150px;
    padding: 40px;
    position: relative;
    /* z-index: 1; */
    /* object-fit: cover; */
}

.moneyappDiv .leftDiv {
    width: 35%;

    h2 {
        text-align: start;
        margin-bottom: 12px;
    }

    P {
        font-size: 14px;
    }
}

.moneyappDiv .leftDiv button {
    margin-top: 38px;
    margin-bottom: 380px;
    padding: 16px 38px;
    border: none;
    border-radius: 10px;
    background: var(--purple);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.moneyappDiv .rightDivimg1 img {
    height: 300px;
    display: flex;
    align-items: last baseline;
    position: absolute;
    z-index: 10;
    top: 0%;
    right: 2%;
    object-fit: contain;

}

.rightDivimg2 {
   display: none;
    

}


















/* RESPONSIVENESS */

/* Tablet screen/view */
@media screen and (min-width: 768px) and (max-width: 1200px) {

    body {
        width: 100%;
        /* font-size: 16px; */
        /* Adjust font size for tablets */
    }

    nav {
        position: relative;
        height: 50px;
        padding: 3px 20px;
        box-shadow: none;
    }

    .navlinks {
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 20px;
        width: 100%;
        height: 120vh;
        background: white;
    }

    .navlinks li {
        padding: 20px 0;
        border-bottom: 1px solid lightgray;

    }

    .fa-caret-down {
        float: inline-end;
    }

    .signInDiv p {
        position: absolute;
        left: 23%;
        top: 80px;
        background: #DFE3FF;
        padding: 12px 26px;
        border-radius: 10px;
        font-size: 14px;
    }

    .signInDiv button {
        position: absolute;
        left: 3%;
        top: 80px;
    }

    .flagandbars {
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .flagandbars .fa-bars {
        display: block;
        font-size: 28px;
    }

    .fa-xmark-large {
        font-size: 24px;
    }

    .navlinks,
    .signInDiv button,
    .signInDiv p {
        display: none;
        position: fixed;
    }

    .parentDiv {
        padding: 100px 20px;
    }

    /* FIRST DIV STYLING */
    .childDiv1 {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .leftDiv1 {
        width: 45%;
    }

    .rightDiv1 {
        width: 55%;
        margin-top: 150px;

        img {
            width: 100%;
        }
    }

    /* SECOND DIV STYLING */
    .childDiv2 {
        margin-top: 150px;
        margin-bottom: 8rem;
    }

    .topcards,
    .bottomcards {
        font-size: 10px;
        font-weight: 900;
    }

    .topcards .card {
        width: 31%;
    }

    .bottomcards .card {
        width: 48%;
    }

    /* THIRD DIV STYLING */
    .childDiv3 {
        gap: 5rem;
        margin-bottom: 5rem;
    }

    .leftDiv3 {
        width: 50%;
        text-align: center;
    }

    .leftDiv3 h2 {
        width: 60%;
        margin: auto;
    }


    /* FOURTH DIV STYLING */
    .childDiv4 {
        flex-direction: column-reverse;
        gap: 10rem;
    }

    .rightDiv4 {
        text-align: center;
        width: 400px;
    }

    .rightDiv4 p {
        width: 90%;
    }

    /* FIFTH DIV STYLING */
    .childDiv5 {
        gap: 5rem;
        margin-top: 150px;
        text-align: center;
    }

    .leftDiv5 p {
        width: 85%;
        margin: auto;
    }

    /*  SIXTH DIV STYLING */
    .childDiv6 {
        gap: 5rem;
        flex-direction: column-reverse;
        text-align: center;
    }

    .rightDiv6 p {
        margin-bottom: 20px !important;
        width: 97%;
    }


    /* SEVENTH DIV STYLING */
    .childDiv7 {
        margin-top: 100px;
        gap: 5rem;
        text-align: center;
    }

    .rightDiv7 p {
        width: 99%;
    }

    /* EIGHTH DIV STYLING */
    .childDiv8 {
        gap: 5rem;
        flex-direction: column-reverse;
        text-align: center;
    }

    /* LOGOS SECTION  */
    .logosDiv img {
        width: 80px;
        /* height: 50px; */
    }

    /* CHOOSE TABLE DIV */
    .chooseDiv table {
        width: 95%;
    }

    /* MORE OF YOU DIV */
    .box {
        width: 30%;
    }

    .box h3 {
        font-size: 22px;
        font-weight: 900;
        color: var(--purple);
    }

    .box p {
        font-size: 14px;
    }
}



/* For mobile screens (max-width: 467px) */
@media screen and (max-width: 767px) {

    body {
        width: 100%;
        min-width: 380px;
        margin: auto;
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        min-width: 380px;
        position: relative;
        height: 50px;
        padding: 3px 20px;
    }

    .navlinks {
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 20px;
        width: 100%;
        height: 100vh;
        background: white;
    }

    .navlinks li {
        padding: 20px 0;
        border-bottom: 1px solid lightgray;

    }

    .fa-caret-down {
        float: inline-end;
    }

    .signInDiv p {
        position: absolute;
        left: 42%;
        top: 60px;
        background: #DFE3FF;
        padding: 12px 30px;
        border-radius: 10px;
        font-size: 14px;
    }

    .signInDiv button {
        position: absolute;
        left: 5%;
        top: 60px;
        padding: 12px 26px;
    }

    .flagandbars {
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .flagandbars .fa-bars {
        display: block;
        font-size: 28px;
    }

    .fa-xmark-large {
        font-size: 24px;
    }

    .navlinks,
    .signInDiv button,
    .signInDiv p {
        display: none;
        position: fixed;
    }

    .parentDiv {
        padding: 0px 10px;
    }

    .childDiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* FIRST DIV STYLING */
    .childDiv1 {
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }

    .leftDiv1 {
        margin-top: 80px;
        width: 100%;
    }

    .leftDiv1 p {
        width: 90%;
        /* font-size: 22px; */
        margin: auto;
        margin-bottom: 20px;
    }

    .leftDiv1 .imageDiv {
        justify-content: center;
    }

    .leftDiv1 .imageDiv {
        margin-bottom: 16px;
    }

    .ndicandcbn {
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin: auto;
    }

    .cbn p,
    .ndic p {
        margin-right: 6px;
    }

    .cbn img {
        width: 23px;
        height: 23px;
    }

    .ndic img {
        width: 50px;
        height: 20px;
    }

    .rightDiv1 img {
        width: 100%;
    }


    /* SECOND DIV STYLING */
    .topcards,
    .bottomcards {
        flex-direction: column;
        gap: 26px;
    }

    .topcards .card,
    .bottomcards .card {
        width: 95%;
        font-weight: 900;
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

    .topcards .card p,
    .bottomcards .card p {
        font-weight: 900;
    }


    /* THIRD DIV STYLING */
    .childDiv3 {
        gap: 2rem;
        margin-bottom: 7rem;
    }

    .leftDiv3 {
        width: 100%;
        text-align: center;
    }

    .leftDiv3 h2 {
        width: 60%;
        margin: auto;
    }

    .leftDiv3 p {
        width: 95%;
    }

    .rightDiv3 {
        width: 100%;
    }

    .rightDiv3 img {
        width: 100%;
    }

    /* FOURTH DIV STYLING */
    .childDiv4 {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .leftDiv4 {
        width: 300px;
        height: 300px;
    }

    .slipdiv1,
    .slipdiv2 {
        width: 59%;
    }

    .slipdiv1 .slipchild {
        height: 26px;
    }

    .slipdiv2 .slipchild {
        height: 34px;
    }

    .slipdiv1 {
        top: 20px;
        left: -10%;
    }

    .slipdiv2 {
        top: 12px;
        right: -10%;
    }

    .slipdiv2 .slipchild .icon1 {
        font-size: 12px;
    }

    .slipchild p {
        font-size: 8px;
    }

    .rightDiv4 {
        text-align: center;
        width: 100%;
    }

    /* FIFTH DIV STYLING */
    .childDiv5 {
        margin-top: 150px;
        gap: 5rem;
    }

    .leftDiv5 {
        width: 100%;
        text-align: center;
    }

    .leftDiv5 p {
        line-height: 20px;
        width: 95%;
        margin: auto;
    }

    .rightDiv5 {
        width: 100%;
        height: 50%;
    }


    /*  SIXTH DIV STYLING */
    .childDiv6 {
        margin-top: 100px;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .leftDiv6 {
        width: 100%;
        margin-left: 20px;

        img {
            width: 100%;
        }
    }

    .rightDiv6 {
        width: 100%;
        text-align: center;
    }

    .rightDiv p {
        width: 94%;
    }


    /* SEVENTH DIV STYLING */
    .childDiv7 {
        gap: 5rem;
        width: 100%;
        text-align: center;
    }

    .leftDiv7 {
        width: 90%;
        margin: auto;

        img {
            width: 100%;
        }
    }


    /* EIGHTH DIV STYLING */
    .childDiv8 {
        flex-direction: column-reverse;
        gap: 5rem;
        width: 100%;
        text-align: center;
    }

    .rightDiv8 {
        width: 100%;

        img {
            width: 90%;
            height: 67%;

        }
    }


    /* TESTIMONY DIV STYLING */
    .testimoniesDiv {
        margin-top: 100px;
        text-align: center;
    }

    .testimoniesDiv h2 {
        width: 100%;
        margin: auto;
    }


    /* LOGOS SECTION  */
    /* .logo {
        display: grid; 
         grid-template-rows: 3 1fr;
    } */


    /* PARTNERS DIV STYLING */
    .partnersDiv {
        margin-bottom: 100px;
        width: 100%;
        height: max-content;
    }

    .partnerslogoDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    /* CHOOSE TABLE DIV */
    .chooseDiv table {
        width: 90%;
    }

    /* MORE OF YOU DIV */
    .box {
        width: 90%;
    }

    .moneyappDiv .leftDiv {
        margin-top: 40px;
    }

    .moneyappDiv .rightDiv {
        display: none;
    }


    /* THE MONEY APP FOR AFRICANS DIV (BOTTOM) */
    .moneyappDiv {
        width: 90%;
        flex-direction: column;
    }


    /* THE MONEY APP FOR AFRICANS DIV (BOTTOM) */
    .moneyappDiv {
        flex-direction: column;
        position: initial;
    }

    .moneyappDiv .leftDiv {
        width: 100%;
        height: 600px;
        text-align: center;
        margin-bottom: 12px;
        font-size: 14px;

        h2 {
            text-align: center;
        }
    }
    .moneyappDiv .rightDivimg1 img,
    .moneyappDiv .leftDiv button{
        display: none;
    }
    .rightDivimg2 {
        visibility: visible;
        
    }

}